* {
  margin: 0;
  padding: 0;
  box-sizing: border_box;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'Martian Mono', monospace;
}

body {
  width: 100%;
  height:calc(100vh - 110px) ;
  /* background-image: url('https://e0.pxfuel.com/wallpapers/1016/985/desktop-wallpaper-snow-mountain-night-landscape-minimalist-minimalism.jpg'); */
  background-size:cover;
  position: relative;
  overflow: hidden;
  color: #000;
  text-align: center;
  background-color: #fff  ;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  gap: 10px;
  
}
Link{
  color: #000;
}

Link{
  color:orange;
}

.card-body  {
  padding: 10px;
  
}
.card-body :hover{
  box-shadow: 5px;
}
.container {
  justify-content: center;
  text-align: center;
} 

.form {
  justify-content: center;
}

.btn{
  margin: 6px;
}

.form-control{
  display: grid;
  margin: 3px;
  /* text-align: center; */
  /* justify-content: center; */
}

.d-flex  {
  margin: auto;
  width: 20%;
  text-align: center;
  justify-content: center;
  display: grid;
  padding: 10px;
}

.btn {
  background-color: #000;
  width: 200px;
  color: #fff;
  }

.btn:hover {
  color: #fff;
}

.card-img-top{
  height: 12rem;
  /* width: 18rem; */
  
}
 