* {
  margin: 0;
  padding: 0;
  box-sizing: border_box;
  font-family: 'Prompt', sans-serif;
}

body {
  color: #fff;
  text-align: center;
  background-color: #212529;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  gap: 10px;
  
}
 
.card-body  {
  padding: 10px;
}
.card-body :hover{
  box-shadow: 5px;
}
.container {
  justify-content: center;
  text-align: center;
} 


.form {
  justify-content: center;
}

.btn{
  margin: 6px;
}
.form-control{
  width: 20%;
  
}
.d-flex{
  justify-content: center;
  padding: 10px;
}
/* .card{
  margin-top: 10cm;
}  */ 

 