* {
  margin: 0;
  padding: 0;
  box-sizing: border_box;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'Martian Mono', monospace;
}

body {
  color: #fff;
  text-align: center;
  background-color: #212529;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  gap: 10px;
  
}
 
.card-body  {
  padding: 10px;
}
.card-body :hover{
  box-shadow: 5px;
}
.container {
  justify-content: center;
  text-align: center;
} 

.form {
  justify-content: center;
}

.btn{
  margin: 6px;
}

.form-control{
  /* display: block; */
  justify-content: center ;
}

.d-flex input {
  width: 20%;
  text-align: center;
  justify-content: center;
  display: flex;
  border: center;
  padding: 10px;
}
/* .card{
  margin-top: 10cm;
}  */ 

 